.index-title {
  @apply z-10;
  @apply opacity-0;
  @apply relative;
  @apply text-6xl;
  @apply font-bold;
  @apply text-black;
  transform: translateY(-600px);
  animation: 0.9s slideIn ease-in-out forwards;
}

.index-button {
  transform: translateY(-600px);
  animation: 1.3s slideIn ease-in-out forwards;
}

.index-table {
  @apply w-0;
  @apply z-10;
  @apply relative;
  @apply mb-4;
  @apply shadow-md;
  @apply overflow-hidden;
  @apply border-b;
  @apply border-gray-200;
  @apply rounded-md;
  transform: translateX(-600px);
  animation: 1.7s slideInX ease-in-out forwards;
}

th {
  @apply px-6;
  @apply py-3;
  @apply text-center;
  @apply text-sm;
  @apply font-bold;
  @apply text-indigo-700;
  @apply uppercase;
  @apply tracking-wider;
}

@keyframes skewBg {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideInX {
  100% {
    transform: translateX(0px);
    opacity: 1;
    @apply w-full;
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
