.index-title {
  @apply z-10 opacity-0 relative text-6xl 
    font-bold text-black;
  transform: translateY(-600px);
  animation: 0.9s slideIn ease-in-out forwards;
}

.index-button {
  transform: translateY(-600px);
  animation: 1.3s slideIn ease-in-out forwards;
}

.index-table {
  @apply w-0 z-10 relative mb-4 shadow-md overflow-hidden 
    border-b border-gray-200 rounded-md;
  transform: translateX(-600px);
  animation: 1.7s slideInX ease-in-out forwards;
}

th {
  @apply px-6 py-3 text-center text-sm font-bold 
    text-indigo-700 uppercase tracking-wider;
}

@keyframes skewBg {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideInX {
  100% {
    transform: translateX(0px);
    opacity: 1;
    @apply w-full;
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
